#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}





.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid black;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.content3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    width: 50%;
}






